# Theme properties
background-opacity = 0.9
background = #000000

# Prevent full screen from opening in a new MacOS space
# https://ghostty.org/docs/config/reference#window-inherit-working-directory
macos-non-native-fullscreen = true

# clipboard-paste-protection = false
# copy-on-select = clipboard

# Disable inheriting working directory from the previou session.
# https://ghostty.org/docs/config/reference#window-inherit-working-directory
window-inherit-working-directory = false
